<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body class="crear-editarProducto">

<%- include('../partials/header') %>

<main>
    <main class="crear-editar">


        <h2>Edita los datos del producto </h2>

        <form action="/administrador/editar/<%= producto.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <section class="campos">
                <div class="titulo">
                    <input type="text" name="Titulo" class="titulo" id="Titulo" value="<%= producto.titulo %>" placeholder="Titulo">
                    <small>Obligatorio</small>
                </div>
                <div class="autor">
                    <input type="text" name="Autor"  class="autor" id="Autor" value="<%= producto.autor %>" placeholder="Autor">
                    <small>Obligatorio</small>
                </div>
                <div class="idioma">
                    <input type="text" name="Idioma" class="idioma" id="Idioma" value="<%= producto.idioma %>" placeholder="Idioma">
                </div>
                <div class="editorial">
                    <input type="text" name="Editorial" class="editorial" id="Editorial" value="<%= producto.editorial %>" placeholder="Editorial">
                </div>
                <div class="tapa">
                    <input type="text" name="Tapa" class="Tapa" id="Tapa" value="<%= producto.tapa %>" placeholder="Tapa">
                </div>
                <div class="modelo">
                    <input type="number" name="Modelo" class="modelo" id="Modelo" value="<%= producto.modelo %>" placeholder="Año de publicación">
                </div>
                <div class="categorias">
                    <select class="categoria" name="Categoria" id="" aria-label="">
                        <% categoria.forEach(categoria => { %>
                            <option value="<%= categoria %>" <%= producto.categoria.toLowerCase() === categoria.toLowerCase() ? 'selected' : null %> ><%= categoria %></option>
                          <% }) %>
                   </select>
                    <small>Obligatorio</small>
                </div>
                <div class="precio">
                    <input type="number" name="Precio" class="precio" id="Precio" value="<%= producto.precio %>" placeholder="Precio">
                    <small>Obligatorio</small>
                </div>
                <div class="descuento">
                    <input type="number" name="Descuento" class="Descuento" id="descuento" value="<%= producto.descuento %>" placeholder="Descuento"> 
                    <small>Descuento opcional</small>
                </div>
                <div class="stock">
                    <input type="number" name="Stock" class="stock" id="Stock" value="<%= producto.stock %>" placeholder="Stock">
                </div>
                <div class="subcategoria">
                    <input type="text" name="Subcategoria" class="subcategoria" id="subcategoria" value="<%= producto.subcategoria %>" placeholder="Subcategoria (Oferta, Más vendidos)"> 
                </div>
            </section>
            <section class="bottom">
                <div class="descripcion">
                    <textarea class="" name="Descripcion"
                        placeholder="Por favor inserte la descripcion del producto" id=""><%= producto.descripcion %></textarea>
                    <small>Obligatorio</small>
                </div>
                <div class="archivos">
                    <label for="" class="">Subir imagenes del producto</label>
                    <input class="subirImagen" name="Imagen" type="file" id="" multiple>
                    
                    <small>Obligatorio</small>
                </div>
                <div class="boton">
                    <button class="botonCrear" type="submit">Editar Producto</button>
                </div>

            </section>
        </form>
</main>

<%- include('../partials/footer') %>

</body>
</html>