<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body>

<%- include('../partials/header') %>

<main class="listar">
    <h1>Administrador</h1>
    <div class="boton"><a href="/administrador/crear">
            <button class="botonCrear">Crear Nuevo Producto</button>
    </a></div>
    <div class="boton"><a href="/administrador/<%= redirection %>">
      <button class="botonCrear"> <%= redirection === "historial" ? "Historial de Productos" : "Listado de Productos" %> </button>
  </a></div>
		<table>
			<thead>
				<tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Idioma</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Tapa</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Stock</th>
                  
                    <th scope="col">Subcategoria</th>
                    <th scope="col">Accion</th>

				</tr>
			</thead>
            <% productos.forEach(product => { %>
                <tr>
                      
                    <td ><a href="/administrador/editar/<%= product.id %>"><%= product.id %> </a></td>
                    <td><a href="/administrador/editar/<%= product.id %>"><%= product.titulo %></a></td>
                    <td><a href="/administrador/editar/<%= product.id %>"><%= product.autor %></a></td>
                    <td ><a href="/administrador/editar/<%= product.id %>"><%= product.idioma %></a></td>
                    <td><a href="/administrador/editar/<%= product.id %> "><%= product.editorial.name %></a></td>
                    <td><a href="/administrador/editar/<%= product.id %> "><%= product.tapa %></a></td>
                    <td><a href="/administrador/editar/<%= product.id %> "><%= product.modelo %></a></td>
                    <td><a href="/administrador/editar/<%= product.id %>"><%= product.categoria.name %> </a></td>
                    <td><a href="/administrador/editar/<%= product.id %>"><%= product.precio %></a></td>
                    <td ><a href="/administrador/editar/<%= product.id %>"><%= product.descuento %></a></td>
                    <td><a href="/administrador/editar/<%= product.id %> "><%= product.stock %></a></td>
                   
                    <td><a href="/administrador/editar/<%= product.id %> "><%= product.subcategoria %></a></td>

                    <td>
                        <div>
                      
                              <% if (redirection !== "listar") { %>
                                <a href="editar/<%= product.id%>">
                                  <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                              </a>
                              <% }else{ %>
                                <form action="restaurar/<%= product.id%>?_method=DELETE" method="post">
                                  <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                </form>
                              <% } %>
                                <% if (redirection !== "listar") { %>
                                  <form action="destruir/<%= product.id%>?_method=DELETE" method="post">
                                    <button type="submit" id="eliminar-producto" class="btn btn-danger"><i class="fas fa-plane-departure"></i></button>
                                  </form>
                                <% }else{ %>
                                  <form action="administrador/basura/<%= product.id%>?_method=DELETE" method="post">
                                    <button type="submit" id="eliminar-producto" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                  </form>
                                <% } %>
                        </div>
                    </td>
                  
                  </tr>
            <% }) %>
		</table>
</main>

<%- include('../partials/footer') %>

</body>
</html>