<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>

    <body class="home">
        <%- include('./partials/header') %>

            <main>

                <section class="banner">
                    <img src="/images/banner.png" alt="banner promocional">
                </section>

                <section>
                    <h2>SUSPENSO</h2>

                    <section class="articulos">
                        <% productsSuspenso.forEach(product=> { %>

                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>
                    </section>
                </section>
                <section>
                    <h2>INFANTIL</h2>

                    <section class="articulos">
                        <% productsInfantiles.forEach(product=> { %>

                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>
                    </section>
                </section>
                <section>
                    <h2>POESIA</h2>
                    <section class="articulos">
                        <% productsPoesia.forEach(product=> { %>

                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>


                    </section>
                </section>
                <section>

                    <h2>EDUCATIVO</h2>
                    <section class="articulos">
                        <% productsEducativo.forEach(product=> { %>
                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>

                    </section>
                </section>

                <section>
                    <h2>NO FICCION</h2>
                    <section class="articulos">
                        <% productsNoFiccion.forEach(product=> { %>

                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>


                    </section>
                </section>

                <section>
                    <h2>CIENCIA FICCION</h2>
                    <section class="articulos">
                        <% productsCienciaFiccion.forEach(product=> { %>

                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>


                    </section>
                </section>
                <section>

                    <h2>NOVELAS</h2>
                    <section class="articulos">
                        <% productsNovelas.forEach(product=> { %>
                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>

                    </section>
                </section>

                <section>
                    <h2>CLASICOS</h2>


                    <section class="articulos">
                        <% productsClasicos.forEach(product=> { %>

                            <article class="libros">
                                <a href="/productos/detalle/<%- product.id %>">
                                    <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                                <div class="contenedor">
                                    <div class="camion">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <h3>
                                        <%- product.precio - product.precio * product.descuento / 100 %>$
                                    </h3>
                                    <p>
                                        <%= product.descuento> 0 ? `${product.descuento}% OFF` :""%>
                                    </p>
                                    <h4>
                                        <%- product.titulo %>
                                    </h4>
                                </div>

                            </article>

                            <% }) %>
                    </section>
                </section>
               
                
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>