<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body class="detalle-de-producto">

    <%- include('./partials/header') %>

    <main>
        <section class="top-main">
            <section class="libro">
                <!--iconos de flechas e imagen del libro-->
                <div class="previa"><button><i class="fas fa-angle-left"></i></button></div>
                <div class="portada"> <img src="/images/<%- product.imagen %> " alt="imagen del producto"> </div>
                <div class="next"><button><i class="fas fa-angle-right"></i></button></div>
            </section>
            <!--titulo y precio + iconos de tarjeta de credito y billete y boton de compra-->
            <section class="datos">
                <h1 class="titulo"><%= product.titulo %></h1>
                <h3 class="precio"><%= product.precio %>$ </h3>
                <!--datos de pagos-->
                <article class="promos">
                    <div class="credito">
                        <i class="far fa-credit-card"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="efectivo">
                        <i class="far fa-money-bill-alt"></i>
                        <p>Proin varius felis ut arcu scelerisque eleifend.</p>
                    </div>
                </article>
                <!-- boton de agregar al carrito y caja de envios y compra por local-->
                <section class="compra">
                    <button class="boton-agregar">Agregar al carrito</button>
                    <article class="envios">
                        <h4>Metos de envio</h4>
                        <input type="number" placeholder="Tu código postal">
                        <button class="calcular">Calcular</button>
                        <a href="/">No se mi codigo postal.</a>
                    </article>
                </section>
            </section>
        </section>
        <!-- descripcion del producto-->
        <section class="descripción">
            <h3>Caracteristicas principales</h3>
            <span>Título del libro :</span>
            <p><%= product.titulo %></p>
            <span>Autor : </span>
            <p><%= product.autor %></p>
            <span>Idioma : </span>
            <p><%= product.idioma %></p>
            <span>Editorial del libro : </span>
            <p><%= product.editorial %></p>
            <span>Tapa del libro : </span>
            <p><%= product.tapa %></p>
            <span>Año de publicación : </span>
            <p><%= product.modelo %></p>
            <span>Categoria : </span>
            <p><%= product.categoria %></p>
        </section>
        <!--iconos de redes sociales-->
        <article class="redes">
            <!-- < class="lista-iconos">-->
            <a class="red-icon" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a class="red-icon" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a class="red-icon" href="https://www.gmail.com"><i class="far fa-envelope"></i></a>
            <a class="red-icon" href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>

        </article>
        <!--Productos parecidos-->
        <section class="parecidos">
            <h3 class="relacionados">Productos relacionados</h3>
            <% products.forEach(product => { %>
            <article class="otroslibros">
                <a href="/productos/detalle/<%= product.id %>"><img src="/images/<%= product.imagen %> " alt="portada de silence of the lamb"></a>
            </article>
           
            <% }) %>
        </section>
        
    </main>

    <%- include('./partials/footer') %>
    
</body>

</html>
