<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head') %>

<body class="home">
<%- include('./partials/header') %>

    <main>

        <section class="banner">
            <img src="/images/banner.png" alt="banner promocional">
        </section>

        <section>
            <h2>NOVEDADES</h2>

            
             
          
            <section class="articulos">
                 <% productsNovedades.forEach(product => { %>

                <article class="libros">
                    <a href="/productos/detalle<%- product.id %>">
                        <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                    <div class="contenedor">
                        <div class="camion">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3> <%- product.precio - product.precio * product.descuento / 100 %>$</h3>
                        <p><%= product.descuento> 0 ? `${product.descuento}% OFF` :""%></p>
                        <h4><%- product.titulo %></h4>
                    </div>

                </article>

                 <% }) %>
            </section>
        </section>
        <section>
            <h2>OFERTAS</h2>
            <section class="articulos">
                <% productsOferta.forEach(product => { %>

                    <article class="libros">
                        <a href="/productos/detalle<%- product.id %>">
                            <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                        <div class="contenedor">
                            <div class="camion">
                                <i class="fas fa-truck"></i>
                            </div>
                            <h3> <%- product.precio - product.precio * product.descuento / 100 %>$</h3>
                            <p><%= product.descuento> 0 ? `${product.descuento}% OFF` :""%></p>
                            <h4><%- product.titulo %></h4>
                        </div>
    
                    </article>
    
                <% }) %>


            </section>
        </section>
        <section>
            
                <h2>LO MAS VENDIDO</h2>
                <section class="articulos">
                    <% productsVendidos.forEach(product => { %>
                        <article class="libros">
                            <a href="/productos/detalle<%- product.id %>">
                                <img src="/images/<%- product.imagen %> " alt="El Aleph"></a>
                            <div class="contenedor">
                                <div class="camion">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <h3> <%- product.precio - product.precio * product.descuento / 100 %>$</h3>
                                <p><%= product.descuento> 0 ? `${product.descuento}% OFF` :""%></p>
                                <h4><%- product.titulo %></h4>
                            </div>
        
                        </article>
        
                <% }) %>

            </section>
        </section>
    
            
    </main>


    <%- include('./partials/footer') %>
   
</body>

</html>