<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body class="login">
   
    <%- include('./partials/header') %>
<main>

    <h1>Ingresá a tu cuenta</h1>
    <form action="" method="post">
        <div class="container bottom">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Ingresa tu email" >
            <% if (locals.errors && errors.email) { %>
                <small><%= errors.email.msg %></small>
            <% } %>
        </div>
        <div class="container bottom">
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña" >
            <% if (locals.errors && errors.pass) { %>
                <small><%= errors.pass.msg %></small>
            <% } %>
       </div>

        <a class="olvidaste"href="#">¿has olvidado la contraseña?</a>
 

        <div class="recordarme bottom">
            <input type="checkbox" name="recordarme" id="recordarme">
            <label for="recordarme">Recordarme</label>
        </div>
        <div class="error bottom">
            <small>La combinacion de email y contraseña ingresada no es valida</small>
        </div>
       <button><a href="./register">Rigistrarse</a></button>
        <button type="submit">Ingresar</button>
    </form>
 
</main>
<%- include('./partials/footer') %>
</body>

</html>