<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body class="perfil">

        <%- include('../partials/header') %>


            <main>
                <h1>Hola <%= `${locals.userLogin.rol==1 ? 'Administrador' : 'usuario' } ${locals.userLogin.nombre}`%> </h1>
                <div class="container_img">
                <img src="/images/imagenesDePerfil/<%= locals.userLogin.image %> " alt="">
                <div class="avatar_edit">
                    <input name="avatar" type='file' id="imageUpload" />
                    <label for="imageUpload" class="fas fa-pencil-alt"></label>
                </div>
                        
                        <% if (locals.errors && errors.image) { %>
                            <small>
                                <%= errors.image.msg %>
                            </small>
                            <% } %>
                    
                </div>
                <form action="/usuarios/perfil/<%= locals.userLogin.id %>?_method=PUT" method="post"
                    enctype="multipart/form-data">
                    <div class="container bottom">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" placeholder="Ingresa tu nombre"
                            value="<%=locals.userLogin.nombre %>">
                        <% if (locals.errors && errors.name) { %>
                            <small>
                                <%= errors.name.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="container bottom">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu email"
                            value="<%=locals.userLogin.email%> " disabled>

                    </div>

                    
                    <div class="container bottom">
                        <label for="codigo_postal">Codigo Postal</label>
                        <input type="text" name="codigo_postal" id="codigo_postal"
                            placeholder="Ingresa tu Codigo Postal" value="<%=locals.userLogin.codigo_postal %>">
                        <% if (locals.errors && errors.codigo_postal) { %>
                            <small>
                                <%= errors.codigo_postal.msg %>
                            </small>
                            <% } %>
                    </div>
                    <div class="container bottom">
                        <label for="direcion">Direcion</label>
                        <input type="text" name="direcion" id="direcion" placeholder="Ingresa tu Codigo Postal"
                            value="<%=locals.userLogin.direcion %>">
                        <% if (locals.errors && errors.direcion) { %>
                            <small>
                                <%= errors.direcion.msg %>
                            </small>

                            <% } %>
                    </div>
                    <div class="container bottom">
                        <label for="ciudad">ciudad</label>
                        <input type="text" name="ciudad" id="ciudad" placeholder="Ingresa tu Codigo Postal"
                            value="<%=locals.userLogin.ciudad %>">
                        <% if (locals.errors && errors.ciudad) { %>
                            <small>
                                <%= errors.ciudad.msg %>
                            </small>

                            <% } %>
                    </div>
                    <div class="container bottom">
                        <label for="telefono">telefono</label>
                        <input type="text" name="telefono" id="telefono" placeholder="Ingresa tu Codigo Postal"
                            value="<%=locals.userLogin.telefono %>">
                        <% if (locals.errors && errors.telefono) { %>
                            <small>
                                <%= errors.telefono.msg %>
                            </small>

                            <% } %>
                    </div>
                    <div class="container bottom">
                        <label for="provincia">provincia</label>
                        <input type="text" name="provincia" id="provincia" placeholder="Ingresa tu Codigo Postal"
                            value="<%=locals.userLogin.provincia %>">
                        <% if (locals.errors && errors.provincia) { %>
                            <small>
                                <%= errors.provincia.msg %>
                            </small>

                            <% } %>
                    </div>
                    <!--<h2 class="bottom">Dejanos tus comentarios</h2>
        
           <textarea class="bottom" name="comentarios" id="comentarios" cols="30" rows="10" placeholder="Escribi tus comentarios"></textarea> -->





                    <button type="submit">Guardar Cambios</button>





                    <form action="/usuarios/logout?_method=DELETE" method="post">
                        <button type="submit">Cerrar Sesion</button>
                    </form>
                </form>
           
            </main>

            <%- include('../partials/footer') %>

    </body>